
{% extends 'base.html'%}
{% load static %}

{% block content %}


    {% for product in products %}

        <div class="card" style="width: 18rem;">
          <img src="{{ product.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description|truncatewords:10 }}</p>
              {% if request.user.is_authenticated %}
            <a href="{% url 'update_product_url' product.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'delete_product_url' product.id %}" class="btn btn-danger">Delete</a>

              {% endif %}
          </div>
        </div>

    {% endfor %}
{% endblock %}
